# ENV_PATH - поедет в env_file всех сервисов
ENV_PATH=".env.example"

# Kafka 3.9
IMAGE=confluentinc/cp-kafka:7.9.5
IMAGE_KAFKA_CONNECT=confluentinc/cp-kafka-connect:7.9.5
IMAGE_SCHEMA_REGISTRY=confluentinc/cp-schema-registry:7.9.5
IMAGE_KSQLDB_CLI=confluentinc/cp-ksqldb-cli:7.9.5
IMAGE_KSQLDB_SERVER=confluentinc/cp-ksqldb-server:7.9.5

IMAGE_PROVECTUSLABS_KAFKA_UI=provectuslabs/kafka-ui:v0.7.2
IMAGE_NIFI=apache/nifi:2.8.0

TRANSACTION_STATE_PARTITIONS=8

# kafka-stage-cluster, kafka-mart-cluster
# SC_ = STAGE_CONTROLLER_
# MC_ = MART_CONTROLLER_
# SB_ = STAGE_BROKER_
# MB_ = MART_BROKER_

CLUSTER_ID_STAGE=kafka-stage-cluster
CLUSTER_ID_MART=kafka-mart-cluster

STAGE_CLUSTER_NETWORK=ya-kafka-pf-stage
MART_CLUSTER_NETWORK=ya-kafka-pf-mart

CONTROLLER_LIMIT_CPUS=0.50 # 50% одного ядра CPU
CONTROLLER_LIMIT_MEMORY=512M
CONTROLLER_RESERVE_CPUS=0.25
CONTROLLER_RESERVE_MEMORY=128M # Гарантированный минимум 128 МБ

BROKER_LIMIT_CPUS=0.50
BROKER_LIMIT_MEMORY=1024M
BROKER_RESERVE_CPUS=0.25
BROKER_RESERVE_MEMORY=128M

# schema-registry
SERVICE_SCHEMA_REGISTRY_NAME=schema-registry
SERVICE_SCHEMA_REGISTRY_REST_PORT=8081
SERVICE_SCHEMA_REGISTRY_REST_PORT_EXPOSE=8081
SCHEMA_REGISTRY_REST_URL_INNER="https://${SERVICE_SCHEMA_REGISTRY_NAME}:${SERVICE_SCHEMA_REGISTRY_REST_PORT}"
SERVICE_SCHEMA_REGISTRY_HEAP_OPTS="-XX:MaxRAMPercentage=75.0"
SERVICE_SCHEMA_REGISTRY_LIMIT_CPUS=0.50
SERVICE_SCHEMA_REGISTRY_LIMIT_MEMORY=512M
SERVICE_SCHEMA_REGISTRY_RESERVE_CPUS=0.25
SERVICE_SCHEMA_REGISTRY_RESERVE_MEMORY=256M
SERVICE_SCHEMA_REGISTRY_KAFKASTORE_TOPIC="_schemas"
SERVICE_SCHEMA_REGISTRY_KAFKASTORE_GROUP_ID="schema_registry_group"
SERVICE_SCHEMA_REGISTRY_KAFKASTORE_TRANSACTIONAL_ID="schema-registry-tx"
# user - see SASL_...

# shop-api-app
SERVICE_SHOP_API_APP_NAME=shop-api-app

# kafka-ui
SERVICE_KAFKA_UI_NAME=kafka-ui
SERVICE_KAFKA_UI_PORT_80=8070
SERVICE_KAFKA_UI_LIMIT_CPUS=0.50
SERVICE_KAFKA_UI_LIMIT_MEMORY=1024M
SERVICE_KAFKA_UI_RESERVE_CPUS=0.25
SERVICE_KAFKA_UI_RESERVE_MEMORY=128M

# mirror-maker
SERVICE_MIRROR_MAKER_NAME=mirror-maker
SERVICE_MIRROR_MAKER_LIMIT_CPUS=0.50
SERVICE_MIRROR_MAKER_LIMIT_MEMORY=1024M
SERVICE_MIRROR_MAKER_RESERVE_CPUS=0.25
SERVICE_MIRROR_MAKER_RESERVE_MEMORY=128M

# topic-creation
# этот контейнер отрабатывает и выходит,
# его кто-то ждёт через service_completed_successfully
SERVICE_TOPIC_CREATOR_NAME=topic-creation
SERVICE_TOPIC_CREATOR_LIMIT_CPUS=2.0
SERVICE_TOPIC_CREATOR_LIMIT_MEMORY=1024M
SERVICE_TOPIC_CREATOR_RESERVE_CPUS=2.0
SERVICE_TOPIC_CREATOR_RESERVE_MEMORY=1024M
# топики предсоздаваемые
TOPIC_CONNECT_CONFIG_STORAGE=connect-configs
TOPIC_CONNECT_OFFSET_STORAGE=connect-offsets
TOPIC_CONNECT_STATUS_STORAGE=connect-status
TOPIC_GOODS_RAW=goods-raw
TOPIC_GOODS_FILTERED=goods-filtered
TOPIC_GOODS_DLQ=goods-dlq
TOPIC_GOODS_PROHOBITED=goods-prohibited
TOPIC_GOODS_PROHOBITION_LIST=prohibition-list

# schemas-registrator
# этот контейнер отрабатывает и выходит,
# его кто-то ждёт через service_completed_successfully
SERVICE_SCHEMAS_REGISTRATOR_NAME=schemas-registrator
SERVICE_SCHEMAS_REGISTRATOR_LIMIT_CPUS=2.0
SERVICE_SCHEMAS_REGISTRATOR_LIMIT_MEMORY=1024M
SERVICE_SCHEMAS_REGISTRATOR_RESERVE_CPUS=2.0
SERVICE_SCHEMAS_REGISTRATOR_RESERVE_MEMORY=1024M

# kafka-connect
SERVICE_KAFKA_CONNECT_NAME=kafka-connect
SERVICE_KAFKA_CONNECT_REST_PORT=8083
SERVICE_KAFKA_CONNECT_REST_PORT_EXPOSE=8073
# этот контейнер может быть убит OOM-киллером
SERVICE_KAFKA_CONNECT_LIMIT_CPUS=2.0
SERVICE_KAFKA_CONNECT_LIMIT_MEMORY=2G
SERVICE_KAFKA_CONNECT_RESERVE_CPUS=1.0
SERVICE_KAFKA_CONNECT_RESERVE_MEMORY=2G
SERVICE_KAFKA_CONNECT_HEAP_OPTS="-Xms512M -Xmx1G"

PRODUCT_AVRO_SCHEMA_FILE_NAME="product.avsc"

# stage cluster controllers

SC_1_NAME=stage-controller-1
SC_2_NAME=stage-controller-2
SC_3_NAME=stage-controller-3

SC_1_NODE_ID=4000
SC_2_NODE_ID=5000
SC_3_NODE_ID=6000

SC_1_PORT_90=4090
SC_2_PORT_90=5090
SC_3_PORT_90=6090

SC_1_PORT_91=4091
SC_2_PORT_91=5091
SC_3_PORT_91=6091

# stage cluster brokers

SB_1_NAME=stage-broker-1
SB_2_NAME=stage-broker-2
SB_3_NAME=stage-broker-3

SB_1_NODE_ID=1000
SB_2_NODE_ID=2000
SB_3_NODE_ID=3000

SB_1_PORT_90=1090
SB_2_PORT_90=2090
SB_3_PORT_90=3090

SB_1_PORT_91=1091
SB_2_PORT_91=2091
SB_3_PORT_91=3091

SB_1_PORT_92=1092
SB_2_PORT_92=2092
SB_3_PORT_92=3092

# mart cluster controllers

MC_1_NAME=mart-controller-1
MC_2_NAME=mart-controller-2
MC_3_NAME=mart-controller-3

MC_1_NODE_ID=10000
MC_2_NODE_ID=11000
MC_3_NODE_ID=12000

MC_1_PORT_90=10090
MC_2_PORT_90=11090
MC_3_PORT_90=12090

MC_1_PORT_91=10091
MC_2_PORT_91=11091
MC_3_PORT_91=12091

# mart cluster brokers

MB_1_NAME=mart-broker-1
MB_2_NAME=mart-broker-2
MB_3_NAME=mart-broker-3

MB_1_NODE_ID=7000
MB_2_NODE_ID=8000
MB_3_NODE_ID=9000

MB_1_PORT_90=7090
MB_2_PORT_90=8090
MB_3_PORT_90=9090

MB_1_PORT_91=7091
MB_2_PORT_91=8091
MB_3_PORT_91=9091

MB_1_PORT_92=7092
MB_2_PORT_92=8092
MB_3_PORT_92=9092

# SSL(TLS)/SASL/ACL

CONTAINER_PATH_SECRETS=/etc/kafka/secrets
CONTAINER_PATH_TRUSTSTORE="${CONTAINER_PATH_SECRETS}/kafka.truststore.jks"
CONTAINER_PATH_KEYSTORE="${CONTAINER_PATH_SECRETS}/kafka.keystore.pkcs12"
TRUSTSTORE_TYPE=JKS
KEYSTORE_TYPE=PKCS12

KAFKA_TRUSTSTORE_CREDS=my-truststore-password
KAFKA_TRUSTSTORE_ROOT_CA_ALIAS=ca
KAFKA_SSLKEY_CREDS=my-keystore-password
KAFKA_KEYSTORE_CREDS=my-keystore-password

SASL_UNAME_ADMIN=admin
SASL_PWD_ADMIN=admin_pass
SASL_UNAME_KAFKA_CONTROLLER=kafka_controller
SASL_PWD_KAFKA_CONTROLLER=kafka_controller_pass
SASL_UNAME_KAFKA_BROKER=kafka_broker
SASL_PWD_KAFKA_BROKER=kafka_broker_pass
SASL_UNAME_KAFKA_UI=kafka_ui
SASL_PWD_KAFKA_UI=ui_pass
SASL_UNAME_PRODUCER=producer
SASL_PWD_PRODUCER=prod_pass
SASL_UNAME_CONSUMER=consumer
SASL_PWD_CONSUMER=cons_pass
SASL_UNAME_KAFKA_CONNECT=connect_user
SASL_PWD_KAFKA_CONNECT=connect_pass
SASL_UNAME_SCHEMA_REGISTRY=schema_registry_user
SASL_PWD_SCHEMA_REGISTRY=schema_registry_pass

