faust-streaming==0.11.3
prometheus-client>=0.21.0
aiokafka==0.11.0
confluent-kafka==2.11.1
fastavro==1.12.0
cryptography==46.0.1
requests==2.32.5
# Faust rocksdict больше любит, чем python-rocksdb
rocksdict>=0.3.20
psycopg[binary]>=3.2.0
psycopg-pool>=3.2.0
